* {
    --fontFamily: "Poppins", sans-serif;

    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --Gray: #ccc;
    --white: #ffffff;
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--Red);
    background-image: url('images/bg-intro-desktop.png');
    background-size: cover;
    background-position: center;
}

.container {
    /* border: solid 1px green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.left-side {
    color: var(--white);
}

.left-side, .right-side {
    width: 40%;
}

.purple-box {
    background-color: var(--Purple);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 12px;
}

.styled-form {
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"] {
    font-weight: 600;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--Gray);
    border-radius: 4px;
    box-sizing: border-box; /* This keeps the contact form in its box */
}

.styled-form button {
    font-size: 12px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--Green);
    color: var(--white);
    cursor: pointer;
}

.styled-form button:hover {
    background-color: var(--Purple);
}

.styled-form p {
    font-size: 10px;
    text-align: center;
    color: var(--Gray);
}

.styled-form p strong {
    color: var(--Red);
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}

.attribution a {
    color: var(--Purple);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 426px) {
    .container {
        /* width: 100%; */
    }
}