* {
    --fontFamily: "Poppins", sans-serif;

    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Purple: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --Gray: #ccc;
    --white: #ffffff;
    --DarkGreen: rgba(0, 99, 50, 0.75);
    --Blue: #0000ff;
}

body {
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--Red);
    background-image: url('images/bg-intro-desktop.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 50px;
}

.left-side h1 {
    font-size: 3rem;
}

.left-side {
    color: var(--white);
    width: 35%;
}

.right-side {
    width: 30%;
}

.purple-box {
    background-color: var(--Purple);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.1)
}

.styled-form {
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.1)
}

.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"] {
    font-weight: 600;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--Gray);
    border-radius: 4px;
    box-sizing: border-box; /* This keeps the contact form in its box */
}

.styled-form input[type="text"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="password"]:focus {
    border: 1px solid var(--Blue); /* Change border color on focus */
    box-shadow: 0 0 5px var(--Blue); /* Add a blue shadow to indicate focus */
    outline: none; /* Remove default browser outline */
}

.styled-form button {
    font-size: 12px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--Green);
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 2px 1px var(--DarkGreen)
}

.styled-form button:hover {
    background-color: var(--DarkGreen);
}

.styled-form p {
    font-size: 10px;
    text-align: center;
    color: var(--Gray);
}

.styled-form p strong {
    color: var(--Red);
}

.error-message {
    color: var(--Red);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer {
    text-align: center;
    font-size: 12px;
}

.attribution a {
    color: var(--Purple);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 426px) {
    .container {
        /* width: 100%; */
    }
}